:root {
    --bs-body-bg: #D5DBD9;
    --bs-primary: #EAEAEA;
}

.bg-green {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #009688;
    height: 100px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.container.my-size {
    height: calc(100vh - 5vh);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: white;
    position: relative;
}

.sidebar {
    background-color: var(--bs-primary);
    height: 100%;
    min-width: 400px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul {
    margin-bottom: 0;
}

.user-tools ul li a {
    font-size: 20px;
    color: var(--bs-gray-500);
}

.notifications-bar {
    background-color: #8EDAFC;
}

.notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notification-icon .fa-bell-slash {
    font-size: 20px;
    color: #8EDAFC;
}

.notifications-text a {
    color: grey;
    font-size: .9rem;
}

.btn-outline-secondary {
    background-color: white;
}

.contact-list {
    background-color: white;
    max-height: 100%;
}

.contact-list .contact {
    border-bottom: 1px solid var(--bs-primary);
}

.text .last-send, .time {
    font-size: .9rem;
    color: grey;
}

.main-content {
    background-color: var(--bs-primary);
    border-left: 1px solid var(--bs-gray-500);
}

.chat-content {
    background-image: url(../img/mine.jpg);
}

.bottom-bar i {
    font-size: 25px;
    color: var(--bs-gray-600);
}

.message-text {
    border: none;
    padding: .5rem;
}

.message-box {
    border-radius: 10px;
    max-width: 300px;
    padding: .5rem 1rem 1rem 1rem;
    margin: 1rem 0;
}

.message-box.send {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message-box.received {
    background-color: white;
    align-self: flex-start;
}

.hour {
    font-size: 10px;
    color: var(--bs-gray-500);
    bottom: 1px;
    right: 5px;
}